<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linked expression</title>
    <link rel="stylesheet" th:href="/hello.css">
</head>
<body>
    <h1>Linked Expression Demo</h1>
    <a th:href="@{/variable-expression}">Variable Expression</a> <br><br>
    <a th:href="@{/message}">Message Expression </a> <br> <br>
    <a th:href="@{/link-expression}">Link Expression</a>  <br><br>
    <a th:href="@{/link-expression/{id}(id=${id})}">Custom Link id </a>
</body>
</html>